{% extends "index.html"%}

{% block nav %}

<div class="new-wrapper">
	<div id="main">

	   <img src="{{url_for('static', filename='images/rest3.jpg')}}" align="middle" />
          &nbsp;

             <div class="brand" style="text-align: center; color: #777777;">
       
           
                            <h3><span>Our story</span></h3>
                            <h3>Since 1975</h3>

               </div>      




			<h2 > 
			"There is no sincerer love than the love of food"
			- George Bernard Shaw
			</h3>
			<p>
			Welcome. This is Royal plate. Elegant & sofisticated restaurant template. Royal plate offers different home page layouts with smart and unique design, showcasing beautifully designed elements every restaurant website should have. Smooth animations, fast loading and engaging user experience are just some of the features this template offers. So, give it a try and dive into a world of royal restaurant websites.
			</p>

   

      
            <div class="brand" style="text-align: center; color: #777777;">
       
           
                            <h3><span>Our Approach</span></h3>
                            <h3>Always Fresh Ingredients</h3>
                           
              
            </div>   
 
			<p>
			Here at Royal Plate we work with only the best food supliers like small family farms, insuring that we always have the best and always fresh ingredients. You’ll find a large variety of dishes made to satisfy any taste, from sea food, steaks, variety of natural soups, pasta, salads, finest deserts and vines...
			</p>
               
       <div class="container" style="position: relative;">
          <img src="{{url_for('static' ,filename='images/out3.jpg')}}">

	       <div class="inside-text" style="z-index: 999;position: absolute; top: 50%;left:50%; font-style: 'Pacifico', cursive; color: white; ">

	        <b>  Indoor and Outdoor dining area </b> 

	       </div>

       </div>



     </div>


</div>



{% endblock %}
