<html>

<head>
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>


<body>

<div class="primary-nav">

	<button href="#" class="hamburger open-panel nav-toggle">
<span class="screen-reader-text">Menu</span>
</button>

	<nav role="navigation" class="menu">

		<a href="#" class="logotype">QuinceLand</a>

		<div class="overflow-container">

			<ul class="menu-dropdown">
                 
                 <li><a href="#">About </a><span class="icon"><i class="fa fa-th"></i></span></li>

				<li><a href="#">Menu </a><span class="icon"><i class="fa fa-briefcase"></i></span></li>

			
				<li><a href="#">Make a Booking</a><span class="icon"><i class="fa fa-expeditedssl"></i></span></li>

				<li><a href="#">Contact</a><span class="icon"><i class="fa fa-envelope"></i></span></li>
                 
                
                	<li><a href="#">Login</a><span class="icon"><i class="fa fa-user"></i></span></li>

			</ul>

		</div>

	</nav>

</div>

<script src="index.js"></script>

{%block nav%}

{% endblock %}

</body>


</html>